@import "tailwindcss";

:root {
    --primary-color: #FFA652;
    --gray-primary: #6F6F6F;
    --gray-secondary: #9C9A9A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
}